.forecast-card {
  padding: 15px 0;
  width: 150px;
  border-radius: 16px;
  background: #ffffff;
  text-align: center;
}

.forecast-card ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.forecast-icon {
  margin: 0 auto;
  display: block;
  width: 45px;
}
.min-temp {
  margin-right: 10px;
}

.max-temp {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .forecast-card {
    margin: 10px;
    align-items: center;
    width: 300px;
  }

  .forecast-card li {
    display: inline-block;
    padding: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
  .forecast-card {
    width: 135px;
  }
}
