.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.weather-icon {
  width: 100px;
}

@media screen and (max-width:500px) {
.WeatherInfo .temperature-container {
    margin-top:5px;
      flex-direction: column-reverse;

}  
   .weather-icon {
  margin-top: 15px;
}
}