.Weather {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;

}

.current-weather {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
  color: rgb(135, 135, 135);
}



.current-weather form {
  margin-top: 40px;
  padding-bottom: 30px;
}

.current-weather .search-input {
  background: #ededed;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.current-weather .btn {
  background: #2b1df0;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
  width: 50px;
}

.current-weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.current-weather h1 {
  margin: 20px 0 10px 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #272142;
}

.current-weather ul {
  margin: 0;
  padding: 0;
}

.current-weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.current-weather li strong {
  color: #6e6e6e;
}

.current-weather .temperature {
  color: rgb(33, 33, 33);
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.current-weather canvas {
  margin: 10px 0;
}

.current-weather .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.loading-bars{
  display: flex;
align-items: center;
justify-content: center;
}

@media screen and (max-width:500px) {

  .current-weather h1 {
  margin: 0 0 10px 0;
  font-size: 34px;
}

.current-weather .temperature {
 
  font-size: 50px;
}
.current-weather .unit {
    font-size: 18px;
      top:-17px;

}


}