.Forecast {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.forecast-card {
    width: 150px;
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
}

.forecast-card ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.forecast-icon {
    margin: 0 auto;
    display: block;
    width: 45px;
}
.min-temp {
    margin-right: 5px;
}

.max-temp {
    font-weight: 500;
}
